@model StoreListVM
@{
    ViewData["Title"] = "Home Page";
}



@*<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Pricture</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Manufacturer</td>
                <td>@item.Pricture</td>
            </tr>
        }
    </tbody>
</table>*@

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Pricture</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stores)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.Type</td>
            </tr>
        }
    </tbody>
</table>