@model StorageApp.Models.ProductListVM
@{
    ViewData["Title"] = "Index";
}

<div class="error-list">
    <span asp-validation-for="FormProduct.Name" class="text-danger"></span>
    <span asp-validation-for="FormProduct.Manufacturer" class="text-danger"></span>
    <span asp-validation-for="FormProduct.Picture" class="text-danger"></span>
</div>

<h2>Product List</h2>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary right" data-toggle="modal" data-target="#addModal">
    Add Product
</button>

<form method="GET" asp-action="Index" id="my_form"></form>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Picture</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="max-width:50px">
                <input form="my_form" type="text" name="id" class="form-control">
            </td>
            <td>
                <input form="my_form" type="text" name="name" class="form-control">
            </td>
            <td>
                <input form="my_form" type="text" name="manufacturer" class="form-control">
            </td>

            <td></td>
            
            <td>
                <button type="submit" form="my_form" class="btn btn-info">ძებნა</button>
            </td>
        </tr>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Manufacturer</td>
                <td class="td-image">
                    <img  src="@item.Picture" alt="@item.Name"/>
                </td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-war dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <ul>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Product"
                                       asp-action="Show"
                                       asp-route-id="@item.Id">Show</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Product"
                                       asp-action="Edit"
                                       asp-route-id="@item.Id">Edit</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Product"
                                       asp-action="Delete"
                                       asp-route-id="@item.Id">Delete</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



<!-- Bootstrap Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Add" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name" type="text" class="form-control" placeholder="Name">
                        <span asp-validation-for="FormProduct.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="manufacturer">Manufacturer</label>
                        <input name="manufacturer" type="text" class="form-control" placeholder="City, Street, 1">
                        <span asp-validation-for="FormProduct.Manufacturer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="file">Picture</label>
                        <input name="file" type="file" class="form-control">
                    </div>

                    <div style="height:40px">
                        <button type="submit" class="btn btn-primary right">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>