@model StorageApp.Models.StoreListVM
@{
    ViewData["Title"] = "Index";
}

<div class="error-list">
    <span asp-validation-for="FormStore.Name" class="text-danger"></span>
    <span asp-validation-for="FormStore.Address" class="text-danger"></span>
    <span asp-validation-for="FormStore.Type" class="text-danger"></span>
</div>



<h2>Store List</h2>

<button type="button" class="btn btn-primary right" data-toggle="modal" data-target="#addModal">
    Add Store
</button>

@*იმისათვის რომ  form ლემენტი არ ჩავსვათ tr ში. ეს არის html 5 სინტაქსი
    არ იმუშავებს internet expolrer-ში*@
<form method="GET" asp-action="Index" id="my_form"></form>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="max-width:50px">
                <input name="Id" form="my_form" type="text" class="form-control">
            </td>
            <td>
                <input name="Name" form="my_form" type="text" class="form-control">
            </td>
            <td>
                <input name="address" form="my_form" type="text" class="form-control">
            </td>
            <td>
                <select name="Type" form="my_form" class="form-control">
                    <option>All</option>
                    <option>Market</option>
                    <option>SuperMarket</option>
                    <option>HiperMarket</option>
                    <option>MiniMarket</option>
                    <option>Malll</option>
                    <option>other</option>
                </select>
            </td>
            <td>
                <button type="submit" form="my_form" class="btn btn-info">ძებნა</button>
            </td>
        </tr>
        @foreach (var item in Model.Stores)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.Type</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-war dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <ul>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Store"
                                       asp-action="Show"
                                       asp-route-id="@item.Id">Show</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Store"
                                       asp-action="Edit"
                                       asp-route-id="@item.Id">Edit</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Store"
                                       asp-action="Delete"
                                       asp-route-id="@item.Id">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Add">
                    <div class="form-group">
                        <label for="FormStore.Name">Name</label>
                        <input name="FormStore.Name" type="text" class="form-control" placeholder="Name">
                        <span asp-validation-for="FormStore.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="FormStore.Address">Address</label>
                        <input name="FormStore.Address" type="text" class="form-control" placeholder="City, Street, 1">
                        <span asp-validation-for="FormStore.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="FormStore.Type">Type</label>
                        <select name="FormStore.Type" class="form-control" value="">
                            <option></option>
                            <option>Market</option>
                            <option>SuperMarket</option>
                            <option>HiperMarket</option>
                            <option>MiniMarket</option>
                            <option>Malll</option>
                            <option>other</option>
                        </select>
                        <span asp-validation-for="FormStore.Type" class="text-danger"></span>
                    </div>
                    <div style="height:40px">
                        <button type="submit" class="btn btn-primary right">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>